<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cname</key>
		<string>信号与系统</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>李文娟</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A016470958</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>1</string>
		<key>tcdclassserial</key>
		<string>1</string>
		<key>tcdclass</key>
		<string>1-2</string>
		<key>tcdroom</key>
		<string>4404</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>中国近现代史纲要</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>王珍燕</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A016995112</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>1</string>
		<key>tcdclassserial</key>
		<string>2</string>
		<key>tcdclass</key>
		<string>3-4</string>
		<key>tcdroom</key>
		<string>5404</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>电子电路基础</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>江宝安</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A018898539</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>1</string>
		<key>tcdclassserial</key>
		<string>3</string>
		<key>tcdclass</key>
		<string>5-6</string>
		<key>tcdroom</key>
		<string>5202</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>中国文化概论</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>杨春燕</string>
		<key>own</key>
		<string>1</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A048715948</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>16</string>
		<key>tcdweekday</key>
		<string>1</string>
		<key>tcdclassserial</key>
		<string>4</string>
		<key>tcdclass</key>
		<string>7-8</string>
		<key>tcdroom</key>
		<string>1203</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>大学英语（4）</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>李乐艳</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A011836224</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>1</string>
		<key>tcdclassserial</key>
		<string>5</string>
		<key>tcdclass</key>
		<string>9-10</string>
		<key>tcdroom</key>
		<string>1203</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>宏微观经济学</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>寇小玲</string>
		<key>own</key>
		<string>1</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A039880946</string>
		<key>tcdstartweek</key>
		<string>4</string>
		<key>tcdendweek</key>
		<string>17</string>
		<key>tcdweekday</key>
		<string>2</string>
		<key>tcdclassserial</key>
		<string>1</string>
		<key>tcdclass</key>
		<string>1-2</string>
		<key>tcdroom</key>
		<string>1302</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>工程项目管理</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>周梦娇</string>
		<key>own</key>
		<string>1</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A031978867</string>
		<key>tcdstartweek</key>
		<string>2</string>
		<key>tcdendweek</key>
		<string>16</string>
		<key>tcdweekday</key>
		<string>2</string>
		<key>tcdclassserial</key>
		<string>2</string>
		<key>tcdclass</key>
		<string>3-4</string>
		<key>tcdroom</key>
		<string>1401</string>
		<key>tcdweekprop</key>
		<string>2</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>数据库应用技术</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>梁占维</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A018158601</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>4</string>
		<key>tcdclassserial</key>
		<string>1</string>
		<key>tcdclass</key>
		<string>1-2</string>
		<key>tcdroom</key>
		<string>4102</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>制图基础与计算机绘图</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>周平</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A018444837</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>2</string>
		<key>tcdclassserial</key>
		<string>1</string>
		<key>tcdclass</key>
		<string>1-2</string>
		<key>tcdroom</key>
		<string>4203</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>大学英语（4）</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>李乐艳</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A011836224</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>2</string>
		<key>tcdclassserial</key>
		<string>2</string>
		<key>tcdclass</key>
		<string>1-2</string>
		<key>tcdroom</key>
		<string>1503</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>电子电路基础</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>江宝安</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A018898539</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>2</string>
		<key>tcdclassserial</key>
		<string>3</string>
		<key>tcdclass</key>
		<string>5-6</string>
		<key>tcdroom</key>
		<string>5304</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>信号与系统</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>李文娟</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A016470958</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>13</string>
		<key>tcdweekday</key>
		<string>3</string>
		<key>tcdclassserial</key>
		<string>2</string>
		<key>tcdclass</key>
		<string>3-4</string>
		<key>tcdroom</key>
		<string>5402</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>计算机网络与Internet</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>董振兴</string>
		<key>own</key>
		<string>1</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A031796120</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>16</string>
		<key>tcdweekday</key>
		<string>4</string>
		<key>tcdclassserial</key>
		<string>3</string>
		<key>tcdclass</key>
		<string>5-6</string>
		<key>tcdroom</key>
		<string>4204</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
	<dict>
		<key>cname</key>
		<string>体育（4）</string>
		<key>sname</key>
		<string>朱建平</string>
		<key>tname</key>
		<string>体育教师</string>
		<key>own</key>
		<string>null</string>
		<key>tcdno</key>
		<string>0</string>
		<key>classno</key>
		<string>A017442666</string>
		<key>tcdstartweek</key>
		<string>1</string>
		<key>tcdendweek</key>
		<string>16</string>
		<key>tcdweekday</key>
		<string>5</string>
		<key>tcdclassserial</key>
		<string>2</string>
		<key>tcdclass</key>
		<string>3-4</string>
		<key>tcdroom</key>
		<string>0001</string>
		<key>tcdweekprop</key>
		<string>0</string>
		<key>tcddescription</key>
		<string>null</string>
	</dict>
</array>
</plist>
